*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT TEST */

.bgred{
    background-color: red;
}

.height75{
    height: 75px;
}

.height100{
    height: 100%;
}

/* UTILITY */

.spacebet{
    justify-content: space-between;
}

img{
    width: 100%;
}

#ui{
    height: calc(100vh - 100px);
    background-color: #141922;
}

#player{
    height: 100px;
    background-color: #282828;
}

.ui-content{
    display: flex;
    background-color: #141922;
    height: 100%;
}

#sidebar{
    background-color: black;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content{
    width: calc(100vw - 200px);
    overflow-y: auto;
}

header{
    height: 80px;
    width: calc(100vw - 200px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    margin-right: 50px;
}

.container{
    width: 100%;
}

.dflex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.gap20{
    gap: 20px;
}

.gap10{
    gap: 10px;
}

.margin-y-50{
    margin-top: 50px;
}

a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: #6F6F6F;
}

h3{
    color: white;
}
/* COLUMNS */

.col100{
    width: calc(100% - 20px);
}

.col16{
    width: calc(100% / 6 - 20px);
}

.col25{
    width: calc(25% - 10px);
}

.col50{
    width: calc(50% - 10px);
}

/****** SIDEBAR ******/

.side-content-top{
    padding: 20px;
    height: 80%;
    overflow: hidden;
}
.side-content-bottom{
    padding: 20px;
}

/* NAV */

nav{
    margin: 20px auto;
}

nav a{
    margin-left: 10px;
}

nav a, .playlist a{
    text-decoration: none;
    color: #6F6F6F;
}

nav ul, .playlist ul{
    list-style-type: none;
}

nav li{
    margin-top: 15px;
}

nav li:first-child, nav li:hover{
    border-left: 2px lightgreen solid;
}

nav img{
    width: 20%;
}

.logo img{
    width: 100%;
}

.logo{
    width: 75%;
}

/* PLAYLISTS */

.playlist{
    flex-direction: column;
    margin-top: 40px;
}

.playlist h4{
    color: white;
}

.playlist ul{
    flex-direction: column;
    height: 75%;
    overflow-y: auto;
}

.add{
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: #6F6F6F;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-plus{
    font-size: 25px;
}

/* USER */

.install img{
    width: 10px;
}

.install{
    color: #6F6F6F;
}

.user hr{
    color: white;
}

.profile img{
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

.profile h4{
    color: white;
    display: inline;
}

/****** MUSIC LIBRARY ******/

.library{
    margin-top: 80px;
    padding: 35px;
}

h2{
    color: white;
}

.listnav{
    color: #6F6F6F;
    display: flex;
    justify-content: center;
}

.listnav ul{
    list-style-type: none;
}

.listnav li:first-child, .listnav li:hover{
    border-bottom: 2px lightgreen solid;
}


.overlay{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.album:hover .overlay{
    display: inline;
}

.album{
    width: 100%;
}

.song{
    text-align: center;
}

/****** PLAYER ******/

/* ACTUALLY PLAYING */

.player-elements{
    justify-content: space-between;
    align-items: center;
}

.miniplayer{
    width: 100%;
    align-items: center;
    padding: 20px;
}

.minialbum{
    width: 15%;
}

.miniplayer h4{
    color: white
}

.miniplayer p{
    color: #6F6F6F;
}

.fa-heart, .fa-folder{
    color: white;
    margin: auto 5px;
}

/* PLAYER INPUTS */

.slider span{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/*********** Baseline, reset styles ***********/
    .slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 38rem;
  }
  
  /* Removes default focus */
  .slider input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  .slider input[type="range"]::-webkit-slider-runnable-track {
    background-color: #5a5a5a;
    border-radius: 0.5rem;
    height: 0.3rem;
  }
  
  /* slider thumb */
  .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 0.8rem;
    width: 0.8rem;
  }
  
  .slider input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .slider input[type="range"]::-moz-range-track {
    background-color: #5a5a5a;
    border-radius: 0.5rem;
    height: 0.3rem;
  }
  
  /* slider thumb */
  .slider input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 0.8rem;
    width: 0.8rem;
  }
  
  .slider input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }

.buttons{
    color: white;
    font-size: 1.4rem;
    text-align: center;
    height: 3rem;
}

.buttons i{
    margin: auto 20px;
}

.buttons i:hover{
    color: green;
}

.fa-play{
    border: 3px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1rem;
}

/*********** Baseline, reset styles ***********/
    .volume input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 6rem;
    margin-left: 10px;
  }
  
  /* Removes default focus */
  .volume input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  .volume input[type="range"]::-webkit-slider-runnable-track {
    background-color: #5a5a5a;
    border-radius: 0.5rem;
    height: 0.3rem;
  }
  
  /* slider thumb */
  .volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 0.8rem;
    width: 0.8rem;
  }
  
  .volume input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .volume input[type="range"]::-moz-range-track {
    background-color: #5a5a5a;
    border-radius: 0.5rem;
    height: 0.3rem;
  }
  
  /* slider thumb */
  .volume input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 0.8rem;
    width: 0.8rem;
  }
  
  .volume input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }

  .volume{
    color: white;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  .fa-desktop{
    margin: auto 10px;
  }
/****** MEDIA QUERY ******/

@media and screen (max-width: ){
    
}

@media and screen (max-width: ){

}

@media and screen (max-width: ){

}

@media and screen (max-width: ){

}